# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Build artifacts
build/
dist/
*.whl

# Testing & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
junit/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db